@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/88a36cab6d7cfa75bff7e49535b9642a.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/c19f8e9cab364abc00a750036f731e21.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/2939e26d0be644944cd621be7bec5f5e.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/267ca74019c66328f093f6614fe3106e.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/22ff9d894b6467b3ddab0f1989a2cb4d.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/aeba314cd216c72b97019a6e8c17c9a5.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/22ff9d894b6467b3ddab0f1989a2cb4d.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/aeba314cd216c72b97019a6e8c17c9a5.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/22ff9d894b6467b3ddab0f1989a2cb4d.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/aeba314cd216c72b97019a6e8c17c9a5.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/6f953f3e7ac9d894a97d59a06afcfa7b.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/b146a0e8f0e873592940bcc60a355c0c.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/3dae3800fab4aad097008bba4dfa94c1.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/0f51da86a058aef1bb585a64cf664ab7.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/c19f8e9cab364abc00a750036f731e21.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/267ca74019c66328f093f6614fe3106e.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/71d66fa3f70c070b9427b4baf1980061.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJs2qTWQ-0;
    src: url(../fonts/1aaf8c95b881644a76961b6db0059fc0.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/2379fff25d9a69a820a8f953d69f7539.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/fc4ecf59d5c29b3e2d9cf723d0affa88.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/2379fff25d9a69a820a8f953d69f7539.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/fc4ecf59d5c29b3e2d9cf723d0affa88.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/0f51dde8c57b40c49c7ff8fb58c5f853.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/0f51dde8c57b40c49c7ff8fb58c5f853.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/8341187ae9c6ecede8f59d0e1094d80e.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/8341187ae9c6ecede8f59d0e1094d80e.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/8341187ae9c6ecede8f59d0e1094d80e.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/8341187ae9c6ecede8f59d0e1094d80e.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/2379fff25d9a69a820a8f953d69f7539.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/2379fff25d9a69a820a8f953d69f7539.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/fc4ecf59d5c29b3e2d9cf723d0affa88.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/fc4ecf59d5c29b3e2d9cf723d0affa88.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/e609efb90aabe72475bbbd19aeb1de0e.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/e609efb90aabe72475bbbd19aeb1de0e.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/9c6d9222a46fbd08fba728aeea74d161.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJo1JGkU-0;
    src: url(../fonts/9c6d9222a46fbd08fba728aeea74d161.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/527cd5a6be21d4e008281f52ae03e6de.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/e8e51b9875286101e41224d1f8f57146.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/ccfa3463500b1d2425324b3a1a304119.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/b9d3823184fbb6d5a9d5804d114b70ba.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/b33f6386bd461ec492dd56577e13136c.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/b09eaaf9341f54a150766b674dd4dd66.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/c076bd8c37058ebdedabdda5c2d6b111.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/9f211f1e580dd0c34c98242b67b454a1.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/2ffd130498e37c9f925c671e0342f1e6.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/b13d468f88f904752a71651083120b9b.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/2f9ca4e3b153c05839a1665e2deae5bd.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/10bae089b2dee90878d1d146921cad11.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/5300a700676e268371e3693408559b01.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/5da2f7e7b5289e2ae1f44d0ac2886371.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/b76554414c3fa738aad9e680f54c765d.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/5c07b773952ecd9eb4715de302811a45.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdtQi73Xs-0;
    src: url(../fonts/82e327672f883fc5445ed4de237127fd.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/efb8e00a810ae053334deaa5cdde1d26.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/83a1bcd0ead0443eec51934c4bce7519.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/ace5d7cd1dcb564a36f2a356d923918a.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/1883acbb305a73f746674a301b9ef557.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/8e2f3e846bbf815cd9c98ddddb55993b.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/e88f1034442fb1ca57c5a0915095da74.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/76f5bf0bb1c59ee14e7664585ede6f44.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/5668d9020ef15ac967fe68cc3b4ee937.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/76f5bf0bb1c59ee14e7664585ede6f44.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/5668d9020ef15ac967fe68cc3b4ee937.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/efb8e00a810ae053334deaa5cdde1d26.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/ace5d7cd1dcb564a36f2a356d923918a.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/83a1bcd0ead0443eec51934c4bce7519.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/1883acbb305a73f746674a301b9ef557.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/6499ba3286f99cd56856ac1fadc61002.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/6630492fd8ec93798fd59b240ebcf3ed.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/82f8df78ff3dd83b061c3086941fc0e6.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJn5d8s0-0;
    src: url(../fonts/567f32a95d84255f6c8667cca341c3f3.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/8dbae49e1280328b442be6dfff163124.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/625cf32ea46ae48b58ebd3ff993de469.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/8dbae49e1280328b442be6dfff163124.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/8dbae49e1280328b442be6dfff163124.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/8dbae49e1280328b442be6dfff163124.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/c69c23593c9bd5705c7780a200f2a6db.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/e5e43f51d6d7939d8911c861efa5f9b7.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/c69c23593c9bd5705c7780a200f2a6db.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/e5e43f51d6d7939d8911c861efa5f9b7.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/625cf32ea46ae48b58ebd3ff993de469.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(../fonts/625cf32ea46ae48b58ebd3ff993de469.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/80e6615d78e74dc4e030071b84f0de05.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/d8472b3b7676e19ea9aa5aae086ee1d9.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/c0d99f5cd9366c40d64a7572f793a852.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/a95c6b67ca0089b9e9a358173e8b22ac.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/80e6615d78e74dc4e030071b84f0de05.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/c0d99f5cd9366c40d64a7572f793a852.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/80e6615d78e74dc4e030071b84f0de05.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/c0d99f5cd9366c40d64a7572f793a852.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/80e6615d78e74dc4e030071b84f0de05.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/c0d99f5cd9366c40d64a7572f793a852.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/80e6615d78e74dc4e030071b84f0de05.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/c0d99f5cd9366c40d64a7572f793a852.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/d8472b3b7676e19ea9aa5aae086ee1d9.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/a95c6b67ca0089b9e9a358173e8b22ac.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/d8472b3b7676e19ea9aa5aae086ee1d9.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/a95c6b67ca0089b9e9a358173e8b22ac.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/d8472b3b7676e19ea9aa5aae086ee1d9.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAEnS2G4JLg-0;
    src: url(../fonts/a95c6b67ca0089b9e9a358173e8b22ac.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/78f087ea0682b0912e61e76286be788e.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/364e99b65d041283d3847281db2240c1.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/78f087ea0682b0912e61e76286be788e.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/78f087ea0682b0912e61e76286be788e.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/78f087ea0682b0912e61e76286be788e.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/78f087ea0682b0912e61e76286be788e.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/364e99b65d041283d3847281db2240c1.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/364e99b65d041283d3847281db2240c1.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/135365cf5ca6dd1ff6eebdabba85fa18.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(../fonts/04482a7e2ff986264ca44d4730f42744.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(../fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-style: italic;
    font-weight: 900;
}